[submodule "SenseHat"]
	path = SenseHat
	url = https://github.com/vincedani/SenseHat.git
[submodule "IoTjs"]
	path = IoTjs
	url = https://github.com/vincedani/iotjs.git
[submodule "IoTjs_sleep_module"]
	path = IoTjs_sleep_module
	url = https://github.com/hs0225/my_modules.git
