[submodule "SenseHat"]
	path = SenseHat
	url = https://github.com/vincedani/SenseHat.git
[submodule "IoTjs"]
	path = IoTjs
	url = https://github.com/vincedani/iotjs.git
[submodule "iotjs_modules/sleep"]
	path = iotjs_modules/sleep
	url = https://github.com/hs0225/my_modules.git
